server:
    port: 8081

spring:
    application:
        name: flight-provider-a

management:
    endpoints:
        web:
            exposure:
                include: health,info
    health:
        redis:
            enabled: false
                
